.input-form {
  border-radius: 0.5rem;
  padding-block: 0.8125rem;
  padding-left: 1rem;
  background-color: var(--input-color-base);
  border: 2px solid var(--input-color-stroke);
}

input {
  border: none;
}

input:active,
input:focus,
textarea:active,
textarea:focus,
.toggle-form:active,
.toggle-form:focus {
  border: 2px solid var(--brand-light);
  box-sizing: border-box;
}

.display-flex {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.align-center {
  margin-top: 0.0938rem;
}

.margin-2px {
  margin-left: 0.125rem;
}

.margin-right-2px {
  margin-right: 0.125rem;
}

.justify-center {
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
.wrap {
  flex-wrap: wrap;
}

.flex-1 {
  flex: 1;
}

.gap-4 {
  gap: 0.25rem;
}
.gap-7 {
  gap: 0.3125rem;
}

.gap-8 {
  gap: 0.5rem;
}

.gap-14 {
  gap: 0.875rem;
}

.gap-16 {
  gap: 1rem;
}

.gap-12 {
  gap: 0.75rem;
}

.gap-24 {
  gap: 1.5rem;
}

.gap-48 {
  gap: 3rem;
}

.border-radius-50 {
  border-radius: 100%;
}

.border-radius-8 {
  border-radius: 0.5rem;
}

.text-color-body {
  color: var(--input-color-placeholder);
}

.semi-bold {
  font-weight: 600;
}

.accent-color-purple {
  background-color: var(--accent-color-purple);
}

.accent-color-fuschia {
  background-color: var(--accent-color-fuschia);
}

.accent-color-pink {
  background-color: var(--accent-color-pink);
}

.accent-color-orange {
  background-color: var(--accent-color-orange);
}

.accent-color-yellow {
  background-color: var(--accent-color-yellow);
}

.accent-color-lime {
  background-color: var(--accent-color-lime);
}

.accent-color-green {
  background-color: var(--accent-color-green);
}

.accent-color-cyan {
  background-color: var(--accent-color-cyan);
}

.accent-color-navy {
  background-color: var(--accent-color-navy);
}

.accent-color-danger {
  background-color: var(--feedback-color-danger);
}

.accent-color-brand-light {
  background-color: var(--brand-light);
}
