.input-color > input[type="radio"] {
  width: 2.5rem;
  height: 2.5rem;
  border: 0.375rem solid var(--shape-color-hover);
  padding: 0;
  cursor: pointer;

  /* Remover estilos nativos */
  -webkit-appearance: none;
  appearance: none;

  /* Remover contorno e sombras */
  box-shadow: none !important;
  outline: none !important;

  /* Para navegadores que aplicam estilo via shadow DOM */
  position: relative;
}

textarea {
  resize: none;
}

.input-color > input[type="radio"]::after {
  content: "";
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  right: -0.3625rem;
  bottom: -0.375rem;
  border-radius: 50%;
  border: 0.125rem solid transparent;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.input-color > input[type="radio"]:checked::after {
  border-color: var(--brand-light);
}

.theme-form > input[type="radio"] {
  width: 8.375rem;
  height: 6.4375rem;
  padding: 0;
  cursor: pointer;

  -webkit-appearance: none;
  appearance: none;
}

.theme {
  width: 36rem;
}

.input-inner {
  width: 100%;
  height: 100%;
  padding: 0.25rem;
  background-color: var(--shape-color-button);
  border-radius: 0.5rem;
  outline: 2px solid var(--input-color-stroke);

  & img {
    width: 7.875rem;
    height: 4rem;
  }

  & input[type="radio"] {
    display: none;
  }

  &:has(input[type="radio"]:checked) {
    outline: 3px solid var(--brand-light);
  }
}

.theme-form-radio {
  & span {
    padding-bottom: 0.25rem;
    padding-top: 0.5rem;
  }
}
