.toggle-switch {
  width: 4rem;
  height: 2rem;
  background-color: var(--input-color-base);
  border-radius: 9999px;
  border: 2px solid var(--input-color-stroke);

  & input[type="radio"] {
    display: none;
  }
}

.switch-style-button {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 9999px;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="radio"]:checked + .dark {
  background-color: var(--input-color-stroke);
}

input[type="radio"]:checked + .light {
  background-color: white;
}

.toggle-switch:has(#switch-light:checked) {
  background-color: var(--brand-light);
}

.dark-text,
.light-text {
  display: none;
}

.dark-light {
  background-color: red;
  width: 11rem;
}

.dark-light:has(#switch-dark:checked) .dark-text {
  display: block;
}

.dark-light:has(#switch-light:checked) .light-text {
  display: block;
}
